/* imports Lato 300 from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* declares global variables : scope -> root */
:root {
    /* default color */
    --primary-color: #047aed;
}

/* ---- UNIVERSAL ---- */

/* universal selector // reset */
* {
    /* border box adds padding/margins to elemets without adding width.  */
    box-sizing: border-box;

    /* remove unnecessary spacings */
    padding: 0;
    margin: 0;
}

body {
    /* uses imported font */
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    /* get rid of bullets */
    list-style-type: none;
}

a {
    /* remove blue hyperlinks */
    text-decoration: none;
    color: #333;
}

h1, h2 {
    /* format headings */
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    /* spacing between paragraphs */
    margin: 10px 0;
}

img {
    /* images stay within container */
    width: 100%;
}

/* ---- END OF UNIVERSAL ---- */

/* ---- NAVBAR ---- */

.navbar {
    /* format navbar */
    background-color: var(--primary-color);
    color: #fff;

    /* height of navbar */
    height: 70px;
}

.navbar ul {
    /* assigns to menu items */
    display: flex;
}

.navbar a {
    /* link color */
    color: #fff;

    /* spacing between links */
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    /* puts line below on hover */
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    /* puts max space between boxes */
    justify-content: space-between;
}

/* ---- END OF NAVBAR ---- */

/* ---- SHOWCASE ---- */

.showcase {
    /* section height */
    height: 400px;

    /* pick primary color from global scope */
    background-color: var(--primary-color);
    color: #fff;
    
    /* to allow some items inside to be absolute (if required) */
    position: relative;
}

.showcase h1 {
    /* increase heading size (Easier Deployment) */
    font-size: 40px;
}

.showcase p {
    /* more space between paragraphs */
    margin: 20px 0;
}

.showcase .grid {
    /* makes card hang over other div */
    overflow: visible;

    /* reset spacing with new fractions */
    grid-template-columns: 55% 45%;

    /* reset gap */
    gap: 30px;
}

.showcase-form {
    position: relative;
    
    /* push card down */
    top: 60px;

    /* extends card beyond container */
    height: 350px;
    width: 400px;
    padding: 40px;
    
    /* is always on top */
    z-index: 100;
    
    /* stays on screen */
    justify-self: flex-end;
}

.showcase-form .form-control {
    /* space between form items */
    margin: 30px 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
    /* removes all border lines */
    border: 0;

    /* adds a line below text */
    border-bottom: 1px solid #b4becb;

    /* span entire container */
    width: 100%;

    /* space inside form item */
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    /* removes outlines when clicked */
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;

    /* creates angled div look */
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* ---- END OF SHOWCASE */

/* ---- STATS ---- */

.stats {
    /* pushes down below the slanted div */
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* ---- END OF STATS ---- */