/* imports Lato 300 from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* declares global variables : scope -> root */
:root {
    /* default color */
    --primary-color: #047aed;

    /* secondary color */
    --secondary-color: #1c3fa8;

    /* dark color */
    --dark-color: #002240;

    /* secondary color */
    --light-color: #f4f4f4;
}

/* ---- UNIVERSAL ---- */

/* universal selector // reset */
* {
    /* border box adds padding/margins to elemets without adding width.  */
    box-sizing: border-box;

    /* remove unnecessary spacings */
    padding: 0;
    margin: 0;
}

body {
    /* uses imported font */
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;

    overflow-x: hidden;
}

ul {
    /* get rid of bullets */
    list-style-type: none;
}

a {
    /* remove blue hyperlinks */
    text-decoration: none;
    color: #333;
}

h1, h2 {
    /* format headings */
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    /* spacing between paragraphs */
    margin: 10px 0;
}

img {
    /* images stay within container */
    width: 100%;
}

/* ---- END OF UNIVERSAL ---- */

/* ---- NAVBAR ---- */

.navbar {
    /* format navbar */
    background-color: var(--primary-color);
    color: #fff;

    /* height of navbar */
    height: 70px;
}

.navbar ul {
    /* assigns to menu items */
    display: flex;
}

.navbar a {
    /* link color */
    color: #fff;

    /* spacing between links */
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    /* puts line below on hover */
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    /* puts max space between boxes */
    justify-content: space-between;
}

/* ---- END OF NAVBAR ---- */

/* ---- SHOWCASE ---- */

.showcase {
    /* section height */
    height: 400px;

    /* pick primary color from global scope */
    background-color: var(--primary-color);
    color: #fff;
    
    /* to allow some items inside to be absolute (if required) */
    position: relative;
}

.showcase h1 {
    /* increase heading size (Easier Deployment) */
    font-size: 40px;
}

.showcase p {
    /* more space between paragraphs */
    margin: 20px 0;
}

.showcase .grid {
    /* makes card hang over other div */
    overflow: visible;

    /* reset spacing with new fractions */
    grid-template-columns: 55% 45%;

    /* reset gap */
    gap: 30px;
}

.showcase-form {
    position: relative;
    
    /* push card down */
    top: 60px;

    /* extends card beyond container */
    height: 350px;
    width: 400px;
    padding: 40px;
    
    /* is always on top */
    z-index: 100;
    
    /* stays on screen */
    justify-self: flex-end;
}

.showcase-form .form-control {
    /* space between form items */
    margin: 30px 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
    /* removes all border lines */
    border: 0;

    /* adds a line below text */
    border-bottom: 1px solid #b4becb;

    /* span entire container */
    width: 100%;

    /* space inside form item */
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    /* removes outlines when clicked */
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;

    /* creates angled div look */
    background-color: white;
    transform: scale(1.5) skewY(-3deg);
    -webkit-transform: scale(1.5) skewY(-3deg);
    -moz-transform: scale(1.5) skewY(-3deg);
    -ms-transform: scale(1.5) skewY(-3deg);

    /* hide slanted div overflow */
    overflow-x: hidden;
}

/* ---- END OF SHOWCASE */

/* ---- STATS ---- */

.stats {
    /* pushes down below the slanted div */
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* ---- END OF STATS ---- */

/* ---- CLI ---- */

/* 3x2 grid */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* assigns to any first child */
.cli .grid > *:first-child {
    /* span 2x2 */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* ---- END OF CLI ---- */

/* ---- CLOUD ---- */

.cloud .grid {
    /* makes 2 item grid of 4:3 */
    grid-template-columns: 4fr 3fr;
}

/* ---- END OF CLOUD ---- */

/* ---- LANGUAGES ----- */

.languages .flex {
    /* wrap items to next line */
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;

    /* smooth language card animation */
    transition: transform 0.2s ease-in-out;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    /* hover effect */
    transform: translateY(-15px);
}

/* ---- END OF LANGUAGES ---- */

/* ---- FEATURES ---- */

.features-head img {
    /* move images to tail */
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    /* move images to tail */
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

/* assigns to any first child */
.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

/* assigns to any second child */
.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

.features-main .card {
    /* smooth language card animation */
    transition: transform 0.2s ease-in-out;
}

.features-main .card:hover {
    /* hover effect */
    transform: scale(1.025);
}

/* ---- END OF FEATURES ---- */

/* ---- DOCS ---- */

.docs-head img {
    /* move images to tail */
    width: 200px;
    justify-self: flex-end;
}

/* ---- END OF DOCS */

/* ---- FOOTER ---- */

.home-footer {
    margin-top: 1.5rem;
}

.footer .social a {
    /* spread out footer icons */
    margin: 0 10px;
}

/* ---- END OF FOOTER ---- */


/* ---- RESPONSIVE QUERIES ---- */


/* ---- TABLETS AND UNDER ---- */

@media(max-width: 978px) {
    /* convert ever grid to stack */
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-head .grid,
    .features-sub-head .grid {
        /* 1x1 grid */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        /* span as much as required */
        height: auto;
    }

    .showcase-text {
        /* move easy deployment text to center */
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        /* justify container to center */
        justify-self: center;
        margin: auto;
    }

    .cli .grid > *:first-child {
        /* span 2x2 */
        grid-column: 1;
        grid-row: 1;
    }

    .features-head img,
    .docs-head img {
        /* readjust image for small screens, make it centered */
        grid-row: 1;
        width: 150px;
        padding-top: 20px;
        justify-self: center;
    }

    .features-sub-head img {
        /* readjust image for small screens, make it centered */
        grid-row: 1;
        width: 200px;
        justify-self: center;
    }

    .features-head .xl, 
    .features-sub-head .md,
    .docs-head .xl {
        text-align: center;
    }

    .features-head p, 
    .features-sub-head p,
    .docs-head p {
        text-align: center;
    }

}

/* ---- END OF TABLETS AND UNDER ---- */

/* ---- MOBILE ---- */

@media(max-width: 700px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        /* vertical stack */
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        /* little background for menu items to pop */
        background-color: rgba(0, 0, 0, 0.1);
    }

    .showcase-form {
        /* auto fit form for mobiles */
        width: auto;
    }

    .features-head img,
    .docs-head img {
        /* readjust image for small screens, make it centered */
        grid-row: 1;
        width: 150px;
        padding-top: 20px;
        justify-self: center;
    }

    .features-sub-head img {
        /* readjust image for small screens, make it centered */
        grid-row: 1;
        width: 200px;
        justify-self: center;
    }

    .features-head .xl, 
    .features-sub-head .md,
    .docs-head .xl {
        text-align: center;
    }

    .features-head p, 
    .features-sub-head p,
    .docs-head p {
        text-align: center;
    }
    
    /* assigns to any first child */
    .features-main .grid > *:first-child {
        grid-column: 1;
    }

    /* assigns to any second child */
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
}

/* ---- END OF MOBILE ---- */