/* ---- UTILITIY CLASSES ---- */

.container {
    max-width: 1100px;
    /* auto tag adjusts it to remain within max width */
    margin: 0 auto;

    /* gets rid of extra space from top */
    overflow: auto;

    /* fixes for small displays */
    padding: 0 40px;
}

.text-center {
    text-align: center;
}
 
.flex{
    /* time to flex :) */
    display: flex;

    /* moves boxes to center (main-axis: defined by flex direction) */
    justify-content: center;

    /* aligns items vertically (cross-axis: defined by flex direction) */
    align-items: center;

    /* fit container */
    height: 100%;
}

.grid {
    display: grid;

    /* divide space in fractions for each child within container */
    /* repeat(2, 1fr) == 1fr 1fr */
    grid-template-columns: repeat(2, 1fr);

    /* space between grid items */
    gap: 20px;

    /* center items */
    justify-content: center;
    align-items: center;

    /* fit grid to container */
    height: 100%;
}

.grid-3 {
    /* 3 items in one row */
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    /* 4 items in one row */
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background-color: #fff;
    color: #333;

    /* make it feel raised from screen */
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);

    /* internal spacings */
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff; 
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

/* ---- BACKGROUDS AND COLORED BUTTONS ---- */

.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: #fff;
}

/* ---- END OF BGS AND COLORED BTNS ---- */

/* ---- TEXT SIZES ---- */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

/* ---- END OF TEXT SIZES ---- */

/* ---- MARGINS ---- */

/* rem base unit 16px */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* ---- END OF MARGINS ---- */

/* ---- PADDINGS ---- */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* ---- END OF PADDINGS ---- */